.search-data {
  display: flex;
  flex-wrap: wrap;
  padding: 5vmax;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 4vmax;
  justify-content: center;
}
.products-container {
  width: 98vw;
  margin-top: 3vmax;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1vmax;
}

.search > div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.search > div > input {
  padding-left: 1vmax;
  font-size: 1.4vmax;
  width: 30vmax;
  height: 3vmax;
  background-color: white;
  border-bottom-left-radius: 0.5vmax;
  border-top-left-radius: 0.5vmax;
  border-color: blueviolet;
}
.main-container {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search > input:hover {
  border-color: green;
  color: white;
  background-color: rgb(228, 180, 50);
  transition: all 0.5s;
  padding-left: 1.2vmax;
  font-size: 1.5vmax;
}

.search > div > button:nth-child(1) {
  border: none;
  text-align: center;
  background-color: burlywood;
  cursor: pointer;
  height: 3.4vmax;
  width: 3vmax;
}

.search > div > button:nth-child(1):hover {
  color: white;
  transition: all 0.5s;
}

.search > div > button:nth-child(2) {
  border: none;
  font-size: 1vmax;
  background-color: burlywood;
  cursor: pointer;
  height: 3.4vmax;
  border-bottom-right-radius: 0.5vmax;
  border-top-right-radius: 0.5vmax;
}
.search > div > button:nth-child(2):hover {
  color: white;
  transition: all 0.5s;
}

.dataResult {
  position: absolute;
  z-index: 9999;
  text-align: left;
}

.dataResult > a {
  text-decoration: none;
}
.dataResult > a > p {
  background-color: white;
  color: black;
  width: 30vmax;
  height: 1.9vmax;
  font-size: 1vmax;
  font-weight: 600;
  padding: 0.6vmax;
  font-size: 1.3vmax;
  padding-left: 1vmax;
  position: relative;
  top: 5vmax;
}

.filterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1vmax;
  margin-bottom: 1vmax;
}
h4 {
  text-align: center;
  color: brown;
}

.filterBox > ul {
  display: flex;
  flex-wrap: wrap;
}

.filterBox > ul > li {
  padding: 0.8vmax;
  border-radius: 0.5vmax;
  background-color: burlywood;
  color: white;
  font-size: 1.2vmax;
}

.filterBox > ul > li:hover {
  background-color: black;
}

.categoryBox {
  padding: 0%;
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 400 1.6vmax 'Roboto';
  margin: 2vmax;
  cursor: pointer;
  transition: all 0.5s;
}
.category-link:hover {
  color: burlywood;
}

@media screen and (max-width: 900px) {
  .dataResult > a > p {
    font-size: 1.9vmax;
    font-weight: 600;
    padding: 0.6vmax;
    padding-left: 0.6vmax;
  }
}

@media screen and (max-width: 550px) {
  .search > div {
    display: none;
  }
}
